.icon-container-features {
  @extend %align-list;
  justify-content: center;

  // width: 270px;

  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna {
  content: "";
  width: 70px;
  height: 70px;
}

.list-container {
  // display: flex;
  // flex-wrap: wrap;
  // margin-right: -30px;
  margin-bottom: -30px;
}

.features-item {
  // flex-basis: calc(100% / 4 - 30px);
  // margin-right: 30px;
  margin-bottom: 30px;
}

.features-title-container {
  margin-bottom: 10px;
}

.features-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
