.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  // @extend %align-list;
  margin-right: 305px;
}

// .header__container {
//   @extend %align-list;
// }

// .head-nav {
//   display: flex;
// }

.head-nav {
  .head-nav__item:not(:last-child) {
    // margin-right: 50px;
    margin-bottom: 32px;
  }
}

.head-nav {
  .head-nav__link {
    color: var(--primary-text-color);
    @include font(500, 40px, 1.17, 0.02em);

    // padding-top: 32px;
    // padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.head-nav__link.current {
  // &::after {
  //   content: " ";
  //   display: block;
  //   width: 100%;
  //   height: 4px;
  //   background-color: var(--accent-color);
  //   border-radius: 4px;
  //   border: none;

  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  // }
  & {
    color: var(--accent-color);
  }
}
