.header {
  border-bottom: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: 84px;
  }
  // @extend %align-list;
  // margin-right: 305px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  // @extend %align-list;
}

.head-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    // align-items: center;
  }
}

.head-nav {
  .head-nav__item:not(:last-child) {
    // margin-right: 50px;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-right: 50px;
      margin-bottom: 0px;
      // padding-top: 32px;
      // padding-bottom: 32px;
    }
  }
}

.head-nav {
  .head-nav__link {
    color: var(--primary-text-color);
    @include font(500, 40px, 1.17, 0.02em);

    @media screen and (min-width: 768px) {
      @include font(null, 14px, 1.14, null);
      padding-top: 27px;
      padding-bottom: 37px;
    }

    // padding-top: 32px;
    // padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.head-nav__link.current {
  @media screen and (min-width: 768px) {
    &::after {
      content: " ";
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 4px;
      border: none;

      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  // &::after {
  //   content: " ";
  //   display: block;
  //   width: 100%;
  //   height: 4px;
  //   background-color: var(--accent-color);
  //   border-radius: 4px;
  //   border: none;

  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  // }
  & {
    color: var(--accent-color);
  }
}

.head-nav {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: none;
  }
}

.menu-open-btn {
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
  border: none;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  background-color: #fff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-form-icon {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 21px;
  padding-bottom: 21px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.menu-close-btn {
  width: 11px;
  height: 11px;
}
.mob-btn-modal {
  position: relative;
  // position: absolute;
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mob-menu-list__link {
  text-decoration: none;
  display: block;
  position: relative;

  color: var(--primary-text-color);
  @include font(500, 40px, 1.17, 0.02em);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-nav__link {
  text-decoration: none;
  display: block;
  position: relative;
  color: var(--secondary-text-color);
  @include font(500, 24px, 1.17, 0.02em);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-menu-list {
  .mob-menu-list__item:not(:last-child) {
    // margin-right: 50px;
    margin-bottom: 32px;
  }
}
// .mob-menu-list {
//   margin-top: 48px;
// }
.mob-header-contacts {
  .mob-nav__item:not(:last-child) {
    // margin-right: 50px;
    margin-bottom: 32px;
  }
}
.mob-header-contacts {
  .tel {
    @media screen and (min-width: 320px) and (max-width: 768px) {
      @include font(500, 33px, 1.17, 0.02em);
    }
  }
}

.mob-menu.is-hidden {
  left: 100%;
}

.icon-mob-btn-open {
  width: 24px;
  height: 16px;
}
