.icon-container-team {
  @extend %align-list;
  width: 206px;
  height: 44px;
  margin-top: 16px;
}

.icon-social {
  @extend %align-list;
}

.icon-ref {
  width: 44px;
  height: 44px;
  @extend %align-list;
  justify-content: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-radius: 50%;
    fill: var(--accent-color);
    background-color: var(--accent-color);
  }
}

.icon-social__item .icon-flex:not(:last-child) {
  margin-right: 10px;
}
.icon-social__item {
  @extend %align-list;
}

.icon-team {
  @extend %align-list;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .icon-ref:focus & {
    fill: var(--primary-white-color);
  }
  .icon-ref:hover & {
    fill: var(--primary-white-color);
  }
}

.icon-social {
  .icon-social__item:not(:last-child) {
    margin-right: 10px;
  }
}

.our-team {
  background-color: #f5f4fa;
}

.our-team-item {
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

.team-card-text {
  padding: 20px 30px;
  text-align: center;
}

.worker-title {
  color: var(--primary-text-color);
  @include font(500, 16px, 1.19, 0.03em);
  text-align: center;

  margin-bottom: 10px;
}

.worker-text {
  color: var(--secondary-text-color);
  @include font(400, 16px, 1.19, 0.03em);
  text-align: center;
}
