.header-nav__logo--dark {
  color: var(--logo-color-dark);
}

.footer-address__logo--light {
  color: var(--primary-white-color);
}
.header-nav__logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    @include font(null, 24px, 1.16, null);
    margin-right: 88px;
    padding-top: 21px;
    padding-bottom: 25px;
  }

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
