.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 581px;
  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.icon-close {
  width: 11px;
  height: 11px;
}

.btn-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  justify-content: center;
  @extend %align-list;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal-form {
  display: block;
  padding: 40px;
}

.modal-form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  &:focus-within > .form-icon {
    fill: var(--accent-color);
  }
}

.modal-form-label {
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 1);
}

.modal-form-input {
  height: 40px;
  width: 100%;
  padding: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  &:focus {
    outline: 1px solid var(--accent-color);
  }
  &:not(:placeholder-shown) + .modal-form-label {
    transform: translateY(-40px);
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 18px;
  height: 18px;
}

.modal-form-textarea {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form-textarea[placeholder] {
  padding: 12px 16px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-textarea {
  &:focus {
    outline: 1px solid var(--accent-color);
  }
}

.modal-form-policy {
  @extend %align-list;
  justify-content: center;

  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  &:focus-within {
    .icon-checkbox {
      border: 2px solid var(--accent-color);
    }
  }

  &:hover {
    .icon-checkbox {
      border: 2px solid var(--accent-color);
    }
  }
}

.link-policy {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  &:checked + .icon-checkbox {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.icon-checkbox {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--primary-text-color);
}

.modal-form-title {
  display: block;
  margin-bottom: 12px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

textarea {
  resize: none;
}
